@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --clr-240-2-54-8: hsla(0, 0%, 21%, 0.8);
  --clr-230-5-24: hsl(230, 5%, 24%);
  --clr-240-2-54: hsl(240, 2%, 54%);
  --clr-215-14-34: hsl(215, 14%, 34%);
  --clr-0-0-100: hsl(0, 0%, 100%);
  --clr-212-81-50: hsl(212, 81%, 50%);
  --clr-351-72-55: hsl(351, 72%, 55%);
  --clr-28-21-82: hsl(28, 21%, 82%);
  --clr-351-72-55-8: hsla(351, 72%, 55%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

section {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

section .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-351-72-55-8);
  clip-path: circle(72% at center -29%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.watchCircle {
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 564px;
  height: 564px;
  background-image: url(/assets/circle-watch.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
}

.watchCircle img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: calc(-126px / 2);
  border-radius: 50%;
}

section header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-240-2-54-8);
}

section header div {
  display: flex;
  align-items: center;
}
section header div img {
  margin-right: 10px;
}
section header div p {
  color: var(--clr-0-0-100);
}

section header div button {
  padding: 7px 20px;
  border: none;
  outline: none;
  background-color: var(--clr-212-81-50);
  color: var(--clr-0-0-100);
  font-size: 13px;
  border-radius: 17px;
}

section header div .feather-search,
section header div .feather-shopping-bag {
  width: 18px;
  height: 18px;

  stroke: var(--clr-240-2-54);
  margin-left: 20px;
}

section header div img:nth-child(2) {
  margin-inline: 20px;
}

section .intro {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

section .intro p:nth-child(1) {
  font-size: 20px;
  color: var(--clr-215-14-34);
  font-weight: 200;
  letter-spacing: 3px;
  text-align: center;
}
section .intro .intro-text p,
section .intro .intro-text p span {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: bold;
  font-size: 53px;
  letter-spacing: 2px;
  text-align: center;
}
.intro-wrapper {
  display: flex;
  justify-content: center;
  gap: 0px 7px;
}
section .intro .awaits {
  color: var(--clr-351-72-55);
}
section .intro a {
  text-decoration: none;
  color: var(--clr-351-72-55);
  font-size: 18px;
  text-align: center;
}

section .large-watch {
  position: absolute;
  top: 74%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

section .colors {
  position: absolute;
  bottom: 5%;
  left: 5%;
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  gap: 10px;
}

section .colors li {
  list-style: none;
  padding: 4px;
  border-radius: 17px;
  cursor: pointer;
}
.active {
  border: 1px solid var(--clr-351-72-55);
}

section .colors li div {
  width: 35px;
  height: 35px;
  background: var(--background);
  border-radius: 10px;
}

/* ********** animation *****  */
.ani {
  animation: fade 0.8s ease-in-out 0s 1 alternate;
}
.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ******** keyframes *********** */
@keyframes fade {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(-160deg) scale(0);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0) scale(1);
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(-40px);
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* ********* media query ********* */

@media (max-width: 640px) {
  section header {
    width: 100%;
    padding: 10px 10px;
  }
  section header div img {
    margin-right: 6px;
  }
  section header div p {
    color: var(--clr-0-0-100);
    font-size: 14px;
  }

  section header div .feather-search,
  section header div .feather-shopping-bag {
    margin-left: 8px;
  }

  section header div button {
    padding: 6px 16px;
    font-size: 12px;
  }
  section .intro {
    top: 20%;
    gap: 10px;
  }
  section .intro p:nth-child(1) {
    letter-spacing: 1px;
    font-size: 16px;
  }
  section .intro .intro-text p,
  section .intro .intro-text span {
    font-size: 32.7px;
    letter-spacing: 1px;
  }

  section .circle {
    clip-path: circle(72% at center 7%);
  }
  section .watchCircle {
    top: 65%;
    min-width: 310px;
    height: 310px;
  }

  .watchCircle img {
    max-width: 75px;
    height: 75px;
    margin: calc(-81px / 2);
  }
  section .large-watch {
    top: 65%;
    max-width: 180px;
    height: 180px;
  }

  section .colors {
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
    width: 134px;
    height: 67px;
  }
  section .colors li {
    border-radius: 12px;
    padding: 3px;
  }
  section .colors li div {
    width: 28px;
    height: 28px;
    border-radius: 7px;
  }

  /* ***** keyframes ***** */
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
}
